@if (shoppingList$ | async; as shoppingList) {
  <mat-list>
    @for (shoppingListCategory of shoppingList; track shoppingListCategory) {
      <h3 mat-subheader>{{ shoppingListCategory.category | categoryName }}</h3>
      @for (item of shoppingListCategory.items; track item) {
        <mat-list-item>
          <div class="list-item-content">
            <mat-checkbox
              [checked]="item.done"
              [class.checked-item]="item.done"
              (change)="setDone(item.key, $event.checked)"
            >
              <div [class.strikethrough]="item.done">{{ item.entry }}</div>
            </mat-checkbox>
            <div>
              <button
                mat-icon-button
                color="primary"
                aria-label="Edit item"
                (click)="
                  openShoppingListItemEditionDialog({
                    key: item.key,
                    value: {
                      category: shoppingListCategory.category,
                      entry: item.entry,
                      done: item.done
                    }
                  })
                "
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="primary" aria-label="Delete item" (click)="deleteItem(item.key)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </mat-list-item>
      }
    }
  </mat-list>
}

<button
  mat-fab
  class="add-item-button"
  (click)="openShoppingListItemEditionDialog()"
  color="primary"
  aria-label="Add an item"
>
  <mat-icon>add</mat-icon>
</button>
