<mat-dialog-content class="mat-typography">
  <form #form="ngForm">
    <mat-form-field>
      <mat-label>Ingredient</mat-label>
      <input
        #filter
        type="text"
        matInput
        name="key"
        [(ngModel)]="model.ingredientKey"
        [required]="true"
        [matAutocomplete]="auto"
        (input)="applyFilter(filter.value)"
        (focus)="applyFilter(filter.value)"
      />
      <mat-autocomplete #auto="matAutocomplete" requireSelection="true" [displayWith]="displayFn$ | async">
        @for (ingredient of ingredients$ | async; track ingredient) {
          <mat-option [value]="ingredient.key">
            {{ ingredient.name }}
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Quantity</mat-label>
      <input type="number" name="quantity" min="0" matInput size="10" [required]="true" [(ngModel)]="model.quantity" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Unit</mat-label>
      <mat-select name="unit" [(ngModel)]="model.unit" [required]="true">
        @for (unit of units; track unit) {
          <mat-option [value]="unit">{{ unit | unitName }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-slide-toggle name="scaleServings" [(ngModel)]="model.scaleServings">Scale servings</mat-slide-toggle>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="undefined">Cancel</button>
  <button mat-button color="primary" [disabled]="!form.valid" [mat-dialog-close]="model">Ok</button>
</mat-dialog-actions>
